.table tbody>tr>td
	&.vert-align
		vertical-align middle
		padding 0 0.3em
	&.condensed
		width 10px
		
.sortCheckbox
	padding 0 0.3em
	color #286090
	
.pushRight
	float right
	&.label-counter
		padding 0.6em
		margin-top -0.3em
		margin-right -1em
		margin-left 0.7em
		
.megaBadges
	font-size 0.7em

.red
	color red
	
.inline-my-form
	margin-left 0 !important
	margin-right 0 !important
	.no-padding
		padding-right 0 !important
		padding-left 0 !important
		
.checkbox
	margin-top 5px !important
	margin-bottom 5px !important
	padding-top 8px !important

.my-float-right
	float right !important